/* Main Stylesheet */
    body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

    }
    .topmenu{
        background-color: rgb(230, 230, 230);
        font-size: 13px;
        line-height: 20px;
        position:fixed;
        
    }
    .submenu{
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        
    }
    .logo img{
        align-items: center;
    }
    .subitem{
        border-left: 1px solid rgb(230, 230, 230);
        height:75px;
        
    }
    form {
        border:1px solid rgb(230, 230, 230);
        margin-left: 15px;
        align-items: center;
        margin-top: 7px;
    }
    form input{
        border:none;
    }
    .rightmenu{
        margin-left: 500px;
        height: 75px;
        background-color: rgb(112, 30, 125);
        width:250px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding:10px;
    }
    .rightmenu h2{
        color:rgb(255, 212, 0);
        font-size: 17px;
        line-height: 75px;
        font-weight: bold;

    }
    .rightmenu p{
        color:#ffffff;
        font-size: 17px;
        line-height: 75px;
        font-weight: bold;

    }
    .rightmenu i{
        color:#ffffff;
        font-size: 17px;
        line-height: 75px;
        font-weight: bold;
        margin-left: 10px;

    }

    .toppic{
        margin: 0;
    }
    .cardbody h5{
        color:rgb(113, 80, 186);
        font-size: 20px;
        text-align: center;
        border:none;
    }
     .cardbody p{
        color:#5a5a5a;
        font-size: 20px;
        text-align: justify;
    }
    .card{
        border:none;
    }
    .branchnetwork{
        height:512px;
        width:100%;
        background-color: rgb(112, 30, 125);
        margin-top: 150px;
        
    }
        .branchnetwork h3{
        font-size: 17px;
        font-weight: 500px;
        color:#ffffff;
        
    }
    
        .branchnetwork p{
        font-size: 13px;
        color:#ffffff;
        
    }