/* Main Stylesheet */
    body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

    }
    .topmenu{
        background-color: rgb(230, 230, 230);
        font-size: 13px;
        line-height: 20px;
        position:fixed;
        
    }
    .submenu{
        font-size: 15px;
        font-family: "Roboto", sans-serif;
       
        
    }
    .logo img{
        align-items: center;
    }
    .subitem{
        border-left: 1px solid rgb(230, 230, 230);

        
    }
    .nav-item .nav-link:hover {
        background-color:rgb(255, 212, 0);
        color: rgb(112, 30, 125);
        
        }
    form {
        border:1px solid rgb(230, 230, 230);
        align-items: center;
        width:50%;
        display: flex;
        justify-content: space-between;
        
    }
    form input{
        border:none;
        width:90%;
    }
    form i{
        width:10%;
    }
    .rightmenu{
        
        height: 75px;
        background-color: rgb(112, 30, 125);
        line-height: 50px;
        width:200px;
        display: flex;
        padding:20px ;
    }
    .rightmenu h2{
        color:rgb(255, 212, 0);
        font-size: 13px;
        text-align: justify;
    

    }
    .rightmenu p{
        color:#ffffff;
        font-size: 17px;
        font-weight: bold;

    }
    .rightmenu i{
        color:#ffffff;
        font-size: 17px;
        line-height: 75px;
        font-weight: bold;
        margin-left: 10px;

    }

    .toppic{
        margin: 0;
    }
    .cardbody h5{
        color:rgb(113, 80, 186);
        font-size: 20px;
        text-align: center;
        border:none;
    }
     .cardbody p{
        color:#5a5a5a;
        font-size: 20px;
        text-align: justify;
    }
    .card{
        border:none;
    }
    .branchnetwork{
        height:512px;
        width:100%;
        background-color: rgb(112, 30, 125);
       
        
    }
    .branchnetwork h2 , .servicedesk h3 {
        padding-top: 20px;
        font-weight: 500px;
        color:#ffffff;
        text-align: center;

    }
    .servicedesk h3 {
        padding-top: 20px;
        font-weight: 500px;
        color:#5a5a5a;
        text-align: center;
    }
        .branchnetwork h3{
        font-size: 17px;
        font-weight: 500px;
        color:#ffffff;
        text-align: center;
        
        
    }
    
        .branchnetwork p , .branchnetwork i{
        font-size: 13px;
        color:#ffffff;
        text-align: center;
        
    }
    .branchnetwork i{
        font-size: 13px;
        color:#ffffff;
        text-align: center;
        margin-left:100px;
        
    }
    .data{
        padding-top: 200px;
    }
    .award{
        background-color:rgb(235, 235, 235);
    }
   .award h3{
    padding-top: 20px;
        font-weight: 500px;
        color:rgb(112, 30, 125);
        text-align: center;


   }
   .topfooter{
    height:90px;
    background-color:rgb(112, 30, 125);
    color:#ffffff;
    padding:30px 0;
   }
    .topfooter i , .topfooter h3{
    color:#ffffff;
    font-size: 20px;
   }
    .item{
    
    border-left: 5px soild #ffffff;
   }
   .footer{
    background-color:rgb(235, 235, 235) ;
    color:#1F1E1E;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
   
   }
   .footer h4{
    font-size: 14px;
    font-weight: 700px;
    color:#1F1E1E;
    padding-left: 25px;
   }
    .footer ul li {
    
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    color:#1F1E1E;
    list-style: none;
   
   }
   ul li i{
    font-size: 25px;
    color:#1F1E1E;
   }